{% extends "base.html" %}

{% block title %}Data Management{% endblock %}

{% block page_content %}
<div class="page-header">
<h1>Provide client with options to self manage data decisions</h1>
<ul>
    <li>Dynamic nature of the client input prevents 100% accurate imports</li>
    <li>Since mistakes and errors will happen in automation, give clients the ability to adjust fields</li>
    <li>Example: import module erroneously determines field A is unstrcutured, give client the option to change setting</li>
</ul>
</div>


<br /><br />
{% endblock %}
