{% extends "base.html" %}

{% block title %}Trend Data Requests{% endblock %}

{% block page_content %}
<div class="page-header">
<h1>Trending Data</h1>
</div>


<div class="container">
  <div class="col-md-6">
  <iframe width="700" height="700" frameborder="0" scrolling="no" align="right" src="https://plot.ly/~mmmarchman/31.embed"></iframe>
  </div>
  <div class="col-md-6">
  <div class="table-bordered">
  <table class="table table-bordered">
    <thead>
      <tr>
        <tr>
        <th>Word</th>
        <th>Frequency</th>
        </tr>
    </thead>
    <tbody>
    {% for word in freq_dist %}
      <tr>

        <td>{{ word[0] }}</td>
        <td>{{ word[1] }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
  </div>
</div>

<br /><br />
{% endblock %}
