{% extends "base.html" %}

{% block title %}CITA{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Welcome to CITA, {% if current_user.is_authenticated %}{{current_user.username}}!
        {% else %}Please Click <a href="{{ url_for('auth.login') }}">HERE</a> to Login{% endif %}</h1>
</div>

<body>{% if current_user.is_authenticated %}
<p>Once completed, this project will provide management teams of customer service organizations with a simplified
	method for identifying trend and patterns in customer interaction data. </p>

<p>Large organizations typically capture an extremely high volume of data on customer interactions.  This data set is often used
	to analyze trends and patterns in customer satisfaction and behaivor.  This type of research is utilized to guide senior management
	decisions regarding	company direction.</p>

<p>CITA aims to improve management analysis of the datasets by exposing unstructured portions of the data to identify trends and patterns
	which would otherwise be missed or require additional manual review.</p>
{% endif %}
</body>
{% endblock %}
