{% extends "base.html" %}

{% block title %}Trends{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Welcome to Your Trending Data Section, {% if current_user.is_authenticated %}{{current_user.username}}{% else %}Please Click <a href="{{ url_for('auth.login') }}">HERE</a> to Login{% endif %}!</h1>
</div>

{% from "_formhelpers.html" import render_field %}
<form method=POST action="/results">
    <table class="table-bordered">
      <tr style="padding: 10px">
        <td style="padding: 10px">
          <div class="firstdaterange">
        <h3>First Date Range to analyze:</h3>
        {{ render_field(range1form.start_date1) }}
        {{ render_field(range1form.end_date1) }}
        </div>
        <div class="seconddaterange">
        <h3>Second Date Range to analyze:</h3>
        {{ render_field(range2form.start_date2) }}
        {{ render_field(range2form.end_date2) }}
        </div>

        </td>
        <td style="padding: 10px">
          <div class="filters">
          <h3>Search data with the following values:</h3>
            {{ render_field(form.product) }}
            {{ render_field(form.subproduct) }}
            {{ render_field(form.issue) }}
            {{ render_field(form.subissue) }}
            {{ render_field(form.company) }}
            {{ render_field(form.state) }}
          </div>
        </td>
      </tr>
    </table>
    <p><p><br /><input type=submit value="Search for Trends">
</form>
{% endblock %}
